<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Elephant Down Under</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href='./stylesheets/all.css' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="inner_cont">
          <div class="col-md-6">
            <p>Images courtesy of Women in Tech</p>
            <p><a href="http://www.elephantinthevalley.com/">@ Elephant in the Valley</a>
          </div>
          <div class="col-md-6">
            <p>If you are interested in how you can assist women in tech or you would like me to speak at your school or event please contact me via <a href ="mailto:cath@bitgirl101.comSubject=Elephant%20Down%20Under">email</a></p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
